<h1>Search Results</h1>
<div class="row">
  <div class="col-md-12">
    <% if @results.blank? %>
      <% if request.env["HTTP_REFERER"].include? "customer" %>
        <strong>No Customer found</<strong>
        <%= link_to "New Customer", new_customer_path, class: 'btn btn-primary' %>
      <% elsif request.env["HTTP_REFERER"].include? "product" %>
        <strong>No Product found</strong>
        <%= link_to "New Product", class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <% if request.env["HTTP_REFERER"].include? "customer" %>
        <table class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
            <th></th>
          </tr>
          <% @results.each do |result| %>
            <tr>
              <td><%= link_to "#{result.last_name} #{result.first_name}", result %></td>
              <td><%= result.email %></td>
              <td><%= result.phone %></td>
              <td><%= "#{result.address} #{result.city} #{result.postcode}" %></td>
              <td><%= link_to "New Order", new_customer_order_path(result, Order.new), class: 'btn btn-default btn-sm' %></td>
            </tr>
          <% end %>
        </table>
      <% elsif request.env["HTTP_REFERER"].include? "product" %>
        <table class="table table-hover">
          <tr>
            <th>initiative</th>
            <th>description</th>
          </tr>
          <% @results.each do |result| %>
            <tr>
              <td><%= result.initiative %></td>
              <td><%= link_to "#{result.description}", result %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
