<h1>Admin <small><%= t '.title' %></small></h1>
<br />
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Users List</h1>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <th>ID</th>
            <th><%= t '.name' %></th>
            <th></th>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= link_to t('.change_password'), edit_admin_user_path(user) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Upload Products from .csv file</h1>
      </div>
      <div class="panel-body">
        <p><strong>Select .csv file from your pc:</strong></p>
      	<%= form_tag( { controller: "/products", action: "import" }, method: "post", multipart: true) do %>
        	<%= file_field_tag :file %>
          <%= submit_tag "Import CSV" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
