<h1><small>User:</small> <%= @user.name %></h1>
<%= form_for @user do |f| %>

<div class="field">
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>
<div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>
