<% if current_user %>
	<br />
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">
						<%= t('.products_report_title') %>
						<small class="pull-right"><%= link_to t('.products_index_link'), products_path %></small>
					</h1>
				</div>
				<div class="panel-body">
					<%= will_paginate @products, :class => 'digg_pagination' %>
					<table class="table table-condensed">
						<thead>
							<tr>
				        <!-- <th><%= t 'products.index.initiative' %></th> -->
				        <th class="description-cell"><%= t 'products.index.description' %></th>
				        <th><%= t 'products.index.available_quantity' %></th>
				        <th><%= t 'products.index.arriving_date' %></th>
								<th>&nbsp;</th>
				      </tr>
						</thead>
						<tbody>
				      <% @products.each do |product| %>
				        <%= product_row_tag(product) do %>
				          <!-- <td><%= product.initiative %></td> -->
				          <td class="description-cell welcome-product-description"><%= link_to product.description, product %></td>
				          <td class="quantity"><%= check_product_availability(product) %></td>
				          <td><%= product.arriving_date ? l(product.arriving_date, format: :short) : "nil" %></td>
									<td><%= arrived_button(product) %></td>
				        <% end %>
				      <% end %>
						</tbody>
					</table>
					<%= will_paginate @products, :class => 'digg_pagination' %>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">
						<%= t '.orders_report_title' %>
						<small class="pull-right"><%= link_to t('.orders_index_link'), orders_path %></small>
					</h1>
				</div>
				<div class="panel-body">
					<%= will_paginate @orders, class: 'digg_pagination' %>
					<table class="table table-striped">
						<thead>
							<tr>
				        <th>id</th>
				        <th><%= t 'orders.index.date' %></th>
				        <th><%= t 'orders.index.customer' %></th>
				        <th><%= t 'orders.index.total_price' %></th>
				        <th></th>
								<th></th>
				      </tr>
						</thead>
						<tbody>
							<% @orders.each do |order| %>
				        <tr>
				          <td><%= link_to "# #{order.id}", order_path(order) %></td>
				          <td><%= l(order.created_at, format: :short) %></td>
				          <td><%= link_to order.customer.full_name, customer_path(order.customer) %></td>
				          <td><%= calculate_total_price(order) %> &euro;</td>
				          <td><%= link_to t('orders.index.show'), order_path(order) %></td>
									<td><%= close_button(order) %></td>
				        </tr>
				      <% end %>
						</tbody>
					</table>
					<%= will_paginate @orders, class: 'digg_pagination' %>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<br />
	<div class="jumbotron">
		<p class="lead">
			<%= t :switch_language %>
			<% if I18n.locale == :en %>
				<%= link_to "Italiano", locale: :it %>
				<% I18n.locale == :it %>
			<% else %>
				<%= link_to "English", locale: :en %>
			<% end %>
		</p>
		<h1>PaperLess</h1>
		<p class="lead"><%= t :jumbotron_subtitle %></p>
	</div>
	<% if locale == :it %>
	  <div class="jumbotron">
			<h2>Puoi accedere a questa app usando le credenziali elencate qui sotto.</h2>
	    <div class="row">
	      <div class="col-md-6">
          <ul>
            <li>nome: <em>administrator</em> | password: <em>helloworld</em></li>
            <li>nome: <em>demo_1</em> | password: <em>helloworld</em></li>
            <li>nome: <em>demo_2</em> | password: <em>helloworld</em></li>
            <li>nome: <em>demo_3</em> | password: <em>helloworld</em></li>
          </ul>
	      </div>
	    </div>
	  </div>
	<% else %>
	  <div class="jumbotron">
			<p class="lead">You can sign into the app with the credentials listed below.</p>
	    <div class="row">
	      <div class="col-md-6">
          <ul>
            <li>name: <em>administrator</em> | password: <em>helloworld</em></li>
            <li>name: <em>demo_1</em> | password: <em>helloworld</em></li>
            <li>name: <em>demo_2</em> | password: <em>helloworld</em></li>
            <li>name: <em>demo_3</em> | password: <em>helloworld</em></li>
          </ul>
	      </div>
	    </div>
	  </div>
	<% end %>
<% end %>
