<h1>Orders</h1>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th><%= t '.date' %></th>
        <th>Status</th>
        <th><%= t '.customer' %></th>
        <th>Email</th>
        <th><%= t '.phone' %></th>
        <th><%= t '.total_price' %></th>
        <th><%= t '.items_number' %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= l(order.created_at, format: :long) %></td>
          <td><%= order_status_label(order) %></td>
          <td><%= link_to order.customer.full_name, customer_path(order.customer) %></td>
          <td><%= order.customer.email %></td>
          <td><%= order.customer.phone %></td>
          <td><%= calculate_total_price(order) %> &euro;</td>
          <td><%= calculate_total_items(order) %></td>
          <td><%= link_to t('.show'), order_path(order) %></td>
          <td><%= close_button(order) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
