<h1>
  <%= t('.order') %> <%= "##{@order.id}".html_safe %>
  <small>(<%= l(@order.created_at, format: :extra_long) %>)</small>
  <%= order_status_label(@order) %>
</h1>
<br />
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default" id="customer_details">
      <div class="panel-heading">
        <h4>Customer</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li><%= t '.name' %>: <%= link_to @order.customer.full_name, customer_path(@order.customer) %></li>
          <li>Email: <%= @order.customer.email %></li>
          <li><%= t '.phone' %>: <%= @order.customer.phone %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-6" id="shop_details">
    <div class="panel panel-default" id="customer_details">
      <div class="panel-heading">
        <h4>Shop Name <img class="pull-right" src="" alt="Shop Logo" /></h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>Address: </li>
          <li>Contacts: </li>
          <li>Fiscal details: </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="items_list">
    <h2><%= t '.order_details' %></h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>EAN</th>
          <th><%= t '.product' %></th>
          <th><%= t '.quantity' %></th>
          <th><%= t '.default_price' %></th>
          <th><%= t '.promo_price' %></th>
          <th><%= t '.subtotal' %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tboby>
        <% @ordered_items.each do |ordered_item| %>
          <tr>
            <td class="barcode-cell col-md-3">
              <img id="barcode-product-<%= ordered_item.product.id %>"/>
              <script>
                $("#barcode-product-<%= ordered_item.product.id %>").barcode("<%= ordered_item.product.barcode %>", "ean13", { barWidth: 2, fontSize: 12 });
              </script>
            </td>
            <td class="description-cell col-md-3"><%= ordered_item.product.description %></td>
            <td class="quantity-cell col-md-1"><%= ordered_item.quantity %></td>
            <td class="default-price-cell col-md-1"><%= ordered_item.product.default_price %> &euro;</td>
            <td class="promo-price-cell col-md-1"><%= ordered_item.product.promo_price %> &euro;</td>
            <td class="subtotal-cell col-md-1"><%= calculate_subtotal(ordered_item) %> &euro;</td>
            <td class="status-label-cell col-md-1"><%= product_status_label(ordered_item.product, ordered_item.product.arriving_date) %></td>
            <td class="buttons col-md-1">

                <%= link_to t('.remove'), ordered_item, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('.remove_item_confirmation', :item => ordered_item.product.description) } %>

            </td>
          </tr>
        <% end %>
      </tboby>
      <tfoot>
        <tr>
          <td class="col-md-3">&nbsp;</td>
          <td class="col-md-3">&nbsp;</td>
          <td class="col-md-1">&nbsp;</td>
          <td class="col-md-1">&nbsp;</td>
          <td class="col-md-1 text-right"><%= t '.total' %></td>
          <td class="col-md-1 text-left"><strong><%= calculate_total_price(@order) %> &euro;</strong></td>
          <td class="col-md-1">&nbsp;</td>
          <td class="col-md-1">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="products_list">
    <h2><%= t '.add_items_section_title' %></h2>
    <%= form_for [@order, @order_item] do |f| %>
      <div class="form-group">
        <label><%= t '.select_product' %></label>
        <br />
        <%= f.select(:product_id) do %>
          <% products_array = @products.select { |product| available_items?(product) > 0 }.map { |product| ["#{product.initiative} - #{product.description} - #{t('.availability')}: #{available_items?(product)} #{t('.pieces', :count => available_items?(product))}", product.id] } %>
          <%= options_for_select(products_array) %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit t('.add_item'), class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<% if current_user.admin? && !@created_items_versions.empty? %>
  <br >
  <hr />
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= t '.added_items' %></h1>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th><%= t '.date' %></th>
                <th><%= t '.user' %></th>
                <th><%= t '.product' %></th>
                <th><%= t '.quantity' %></th>
              </tr>
            </thead>
            <tbody>
              <% @created_items_versions.each do |item_version| %>
                <tr>
                  <td><%= l(item_version.changeset[:created_at][1], format: :long) %></td>
                  <td><%= get_user_for_paper_trail(item_version.whodunnit) %></td>
                  <td><%= get_product_for_paper_trail(item_version.order_item_product_id).description %></td>
                  <td><%= item_version.changeset[:quantity][1] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= t '.deleted_items' %></h1>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th><%= t '.date' %></th>
                <th><%= t '.user' %></th>
                <th><%= t '.product' %></th>
                <th><%= t '.quantity' %></th>
              </tr>
            </thead>
            <tbody>
              <% @deleted_items_versions.each do |item_version| %>
                <tr>
                  <td><%= l(item_version.created_at, format: :long) %></td>
                  <td><%= get_user_for_paper_trail(item_version.whodunnit) %></td>
                  <td><%= get_product_for_paper_trail(item_version.order_item_product_id).description %></td>
                  <td><%= item_version.object.split(" ")[6] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
