<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @arriving_items.empty? %>
    	<h2><%= t '.order_title', order_id: @order.id %></h2>
      <p><%= t '.order_p', customer_first_name: @customer.first_name.capitalize %></p>
    	<div style="border: 2px solid green; padding: 10px;">
        <h3><%= t '.order_h3', order_id: @order.id %></h3>
        <h4><%= t '.order_h4' %></h4>
        <ul>
          <% @order.order_items.each do |item| %>
            <li><strong><%= t '.product' %>:</strong> <%= item.product.description %> | <strong><%= t '.quantity' %>:</strong> <%= item.quantity %></li>
          <% end %>
        </ul>
    	</div>
    <% else %>
      <h1><%= t '.product_title', id: @order.id %></h1>
      <p><%= t '.product_p', customer_first_name: @customer.first_name.capitalize, order_id: @order.id %></p>
      <div style="border: 2px solid green; padding: 10px;">
        <h4><%= t '.product_details' %>:</h4>
          <ul>
            <li><strong><%= t '.description' %>:</strong> <%= @product.description %></li>
            <li><strong><%= t '.quantity' %>:</strong> <%= @order.order_items.find_by(product_id: @product.id).quantity %></li>
          </ul>
      </div>
      <br />
      <div style="border: 2px solid red; padding: 10px;">
      	<h2><%= t '.warning_title' %></h2>
        <h4><%= t '.warning_h4' %></h4>
      	<h3><%= t '.warning_h3', order_id: @order.id %>:</h3>
      	<ul>
      	  <% @arriving_items.each do |item| %>
      	    <li><strong><%= t '.description'%>:</strong> <%= item.product.description %> | <strong><%= t '.quantity' %>:</strong> <%= item.quantity %></li>
      	  <% end %>
      	</ul>
      </div>
    <% end %>

    <h3><%= t '.info_contacts' %></h3>
    <p>
      SHOP_ADDRESS
      <br />
      SHOP_TIMETABLE.
      <br />
      For further info, please refer to:
      <br />
      EMAIL
      <br />
      PHONE
    </p>

  </body>
</html>
