<h1><%= @product.description %></h1>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>created by</th>
          <th>Initiative</th>
          <th>Local code</th>
          <th>Barcode</th>
          <th>Default price</th>
          <th>Promo price</th>
          <% if !@product.in_stock? %>
            <th>Arriving date</th>
          <% end %>
          <th>Quantity</th>
          <th>Available Quantity</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @product.user.name %></td>
          <td><%= @product.initiative %></td>
          <td><%= @product.local_code %></td>
          <td><%= @product.barcode %></td>
          <td><%= @product.default_price %> &euro;</td>
          <td><%= @product.promo_price %> &euro;</td>
          <% if !@product.in_stock? %>
            <td><%= @product.arriving_date.strftime("%a, %d %b %Y") %></td>
          <% end %>
          <td><%= @product.quantity %></td>
          <td><%= check_product_availability(@product) %></td>
          <td><%= product_status_label(@product, @product.arriving_date) %></td>
          <%= render partial: "arrived_button", locals: { product: @product } %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= get_label_for(@product.order_items) %> customers waiting for this product</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>name</th>
              <th>phone</th>
              <th>email</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @product.order_items.each do |order_item| %>
              <tr>
                <td>
                  <%= link_to "#{order_item.order.customer.last_name} #{order_item.order.customer.first_name}", customer_path(order_item.order.customer.id) %>
                </td>
                <td><%= order_item.order.customer.phone %></td>
                <td><%= order_item.order.customer.email %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= get_label_for(@product.order_items) %> orders containing this product</h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>order</th>
              <th>date</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @product.order_items.each do |order_item| %>
              <tr>
                <td># <%= link_to order_item.order.id, order_path(order_item.order.id) %></td>
                <td><%= order_item.order.created_at.strftime("%a, %d %b %Y") %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
