<h1>
  <%= @product.description %>
  <small><%= product_status_label(@product, @product.arriving_date) %></small>
</h1>
<p class="lead">
  <%= link_to t('.edit'), edit_product_path(@product), class: 'btn btn-primary' %>
  <% if @product.order_items.count == 0 %>
    <%= link_to t('.delete'), @product, method: :delete, class: 'btn btn-danger', data: { confirm: t('.product_deletion_confirmation')} %>
  <% end %>
</p>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t '.created_by' %></th>
          <th><%= t '.initiative' %></th>
          <th><%= t '.local_code' %></th>
          <th><%= t '.barcode' %></th>
          <th><%= t '.default_price' %></th>
          <th><%= t '.promo_price' %></th>
          <% if @product.arriving? %>
            <th><%= t '.arriving_date' %></th>
          <% end %>
          <th><%= t '.quantity' %></th>
          <th><%= t '.available_quantity' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @product.user.name %></td>
          <td><%= @product.initiative %></td>
          <td><%= @product.local_code %></td>
          <td><%= @product.barcode %></td>
          <td><%= @product.default_price %> &euro;</td>
          <td><%= @product.promo_price %> &euro;</td>
          <% if @product.arriving? %>
            <td><%= @product.arriving_date.strftime("%a, %d %b %Y") %></td>
          <% end %>
          <td><%= @product.quantity %></td>
          <td><%= check_product_availability(@product) %></td>
          <td><%= arrived_button(@product) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= get_label_for(@product.order_items) %> <%= t '.customers_panel_title' %></h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th><%= t('.customer') %></th>
              <th>Email</th>
              <th><%= t('.phone') %></th>
              <th><%= t('.quantity') %></th>
            </tr>
          </thead>
          <tbody>
            <% @product.order_items.each do |order_item| %>
              <tr>
                <td>
                  <%= link_to "#{order_item.order.customer.last_name} #{order_item.order.customer.first_name}", customer_path(order_item.order.customer.id) %>
                </td>
                <td><%= order_item.order.customer.email %></td>
                <td><%= order_item.order.customer.phone %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          <%= get_label_for(@product.order_items) %>
          <%= t('.orders_panel_title') %>
        </h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th><%= t('.date') %></th>
              <th><%= t('.quantity') %></th>
            </tr>
          </thead>
          <tbody>
            <% @product.order_items.each do |order_item| %>
              <tr>
                <td><%= link_to "# #{order_item.order.id}", order_path(order_item.order.id) %></td>
                <td><%= l(order_item.order.created_at, format: :long) %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if current_user.admin? && !@versions.empty?%>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            <%= t '.versions_panel_title' %> <%= t('times', :count => @versions.length) %>.
          </h1>
        </div>
        <div class="panel-body">
          <table class="table" id="versions">
            <thead>
              <tr>
                <th><%= t ".whodunnit" %></th>
                <th class="what-changed"><%= t ".modifications" %></th>
              </tr>
            </thead>
            <tbody>
              <% @versions.each do |version| %>
                <tr>
                  <td><%= get_user_for_paper_trail(version.whodunnit).name if version.whodunnit %></td>
                  <td class="what-changed">
                    <table>
                      <% version.changeset.each do |k, v| %>
                      <tr>
                        <td>
                          <strong><%= t ".#{k}" %>:</strong>
                          <em><%= v[0].class == ActiveSupport::TimeWithZone ? l(v[0]) : v[0] %></em>
                          &nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;
                          <strong><%= v[1].class == ActiveSupport::TimeWithZone ? l(v[1]) : v[1] %></strong>
                        </td>
                      </tr>
                      <% end %>
                    </table>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
